<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="APITest">
    <classes>
      <class name="Implementation.DragDrop"/>
      <class name="Implementation.Gestures"/>
      <class name="Implementation.SwipeDemo"/>
      <class name="Implementation.ScrollTest"/>
      <class name="Implementation.WiFiDemo"/>
    </classes>
  </test> <!-- APITest -->
</suite> <!-- Suite -->
